.card-cita-container {
  display: flex;
  gap: 2rem;
}

.card-cita-time {
  position: relative;
  display: flex;
  align-items: center;
  border-right: 2px solid black;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-cita-time span {
  display: block;
}

.card-cita-time .circle {
  position: absolute;
  right: -0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.card-cita-article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-cita-article header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.card-cita-article header p {
  font-size: 1.25rem;
}

.card-cita-article header span {
  background-color: var(--primary-color);
  color: white;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.25rem;
}

.card-cita-article main {
  display: block;
}
