.card-access {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  max-width: 12rem;
  width: 12rem;
  gap: 1rem;
  border: 2px dashed;
  border-color: var(--primary-color);
  border-radius: 1.25rem;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease;
  color: var(--primary-color);
}

.card-access:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
}

.card-access p {
  font-weight: 600;
}
